<%= stylesheet_link_tag "/main.css" %>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Shit Trump has ACTUALLY Said</title>
	

<h1> Trump Actually Said: 
</h1>

<p>
	<%= Show.new.phrase_pick %>
</p>

<p id="refresh"> Refresh the page for more links!</p>


</body>
</html>

</head>