<%= stylesheet_link_tag "/main.css" %>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta property="og:url"                content="http://www.shittrumpsaid.com" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Things Trump Actually Said" />
<meta property="og:description"        content="You won't believe the things he's said..." />
<meta property="og:image"              content="http://s27.postimg.org/o3uzo6wgz/main.jpg" />


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75591399-1', 'auto');
  ga('send', 'pageview');

</script>
<body>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1590193711301642',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<title>Shit Trump has ACTUALLY Said</title>
	

<h1> Trump Actually Said: 
</h1>

<p>
	<%= @display_phrase %>
</p>
<p id="source">
	<a href=<%= @source %>><%= @source %> </a>
</p>



<p id="button" 
onclick="myFunction()">New Quote</button>

<script>
function myFunction() {
    location.reload();
}
</script>

<p>
<div
  class="fb-like"
  data-colorscheme="light"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
<script>
FB.ui({
  method: 'share',
  href: 'https://developers.facebook.com/docs/',
}, function(response){});
</script>
</p>

</body>
</html>


</head>